<!DOCTYPE html>
<head>
        <meta charset="utf-8">
        <title>Blogging Application</title>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <div class = "container-fluid">
		<div class="row">
			<div class = "col-md-12 subject">
                                        {{subject}}<br>
                                        {{created}}
			</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12 content">
					{{content}}
			</div>
			</div>
			<br>
	</div>
</body>

