<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Blogging Application</title>
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class = "container-fluid">
		{% for data in database %}
			<div class="row">
				<div class = "col-md-12 subject">
					<h3><b>{{data.subject}}</b></h3> 
					<h5>{{data.created.date()}}</h5>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12 content">
					<h4>{{data.content}}</h4>
				</div>
			</div>
			<br>
		{% endfor %}	
	</div>
</body>
</html>

