<!DOCTYPE html>
<head>
        <meta charset="utf-8">
        <title>Blogging Application</title>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container-fluid">
	<form method="POST">
		<label> Username <input type = "text" name = "username" value = "{{username}}"></input></label> <br>
		<label> Password <input type = "password" name = "password"> </input></label> <br>
		<label> Verify <input type = "password" name = "verify"> </input></label> <br>
		<label> Email <input type = "text" name = "email" value = "{{email}}"> </input></label> <br>
		<input type="submit">
		<h2> {{error}} </h2>
	</div>
</body>
</html>
